/* --- Base --- */

:root {
  --header-height: 3.5rem;
  /* --scroll-offset: calc(var(--header-height) + 1rem); */
}

html {
  /* scroll-padding-top: calc(var(--header-height) + 1rem); */
  scroll-padding-top: (--header-height);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* --- Layout --- */

.layout {
  display: flex;
}

 /* --- Components --- */

.topbar {
  outline: 2px solid red;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  min-height: var(--header-height);
  /* padding: 0.75rem 1rem; */
  background: #222;
  color: white;
  position: sticky;  /* Top bar stays visible */
  top: 0;
  z-index: 1000;
}

.topbar a {
  line-height: 1;
}

.home-link {
  color: white;
  text-decoration: none; 
  font-weight: bold;
}

.menu-toggle {          /* control element hamburger */
  display: none;        /* hide toggle on Desktop */
  line-height: 1;
  padding: 0;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.overlay {
  display: none;
}

/* Full height sidebar band */
.sidebar {
  top: var(--header-height);
  width: 16rem;
  background: #f7f7f7;
  padding: 1rem 0;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

/* Sticky TOC */
.sidebar-inner {
  position: sticky;
  top: var(--header-height);
  padding: 0 1rem;
}

.content h1,
.content h2,
.content h3 {
  /* scroll-margin-top: calc(var(--header-height) + 1rem); */
  scroll-margin-top: (--header-height);
}

.content {
  padding: 2rem;
  max-width: 70ch;
  margin: 0 auto;
}

/* --- Content --- */

.content pre {
  max-width: 100%;
  overflow-x: auto;
}

.content code {
  font-size: 0.9em;
}

/* --- Responsive --- */
@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .layout {
    flex-direction: column;
  }

  .sidebar {
    display: none;
    position: fixed;
    top: var(--header-height);
    height: calc(100% - var(--header-height));
    left: 0;
    width: 16rem;
    height: calc(100% - 3.5rem);
    background: #f7f7f7;
    overflow-y: auto;
    z-index: 999;
  }

  .sidebar.open {
    display: block;
  }

  .overlay {
    display: none;
    position: fixed;
    top: var(--header-height);
    height: calc(100% - var(--header-height));
    left: 0;
    width: 100%;
    height: calc(100% - 3.5rem);
    background: rgba(0, 0, 0, 0.3);
    z-index: 998;
  }

  .overlay.open {
    display: block;
  }
}
